* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 12%;
    margin-left: 12%;
    font-size: 20px;
    overflow: hidden;
}

.container h1 {
    color: white;
    line-height: 60px;
    margin-bottom: 30px;
}

.container h1 span {
    color: #ffff76;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    max-width: 400px;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 20px;
    border: 0;
    outline: 0;
}

#display {
    font-size: 18px;
    background: white;
    padding-left: 10px;
    width: 220px;
    height: 30px;
    border-radius: 3px;
    opacity: 100%;
    border: 0;
    outline: 0;
    position: relative;
}

#dsiplay::webkit-calender-picker-indiacator {
    /* is not working for edge bwoser */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

button {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background: rgb(255, 255, 0);
    opacity: 100%;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    transition: all 0.3s;
    border: 0;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: #ffff76;
}

.result {
    padding: 30px 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.result span {
    color: #ffff76;
}